---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=41650587%40N02&method=flickr.favorites.getPublicList&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611618", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1,"perpage":100,"total":"1","photo":[{"id":"3829093290","owner":"30201239@N00","secret":"13c44cb460","server":"2469","farm":3,"title":"Danube
        Clock Reflection","ispublic":1,"isfriend":0,"isfamily":0,"date_faved":"1250977656"}]},"stat":"ok"}'
  recorded_at: Sun, 07 Apr 2019 04:33:39 GMT
recorded_with: VCR 4.0.0
