---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: text=Flickr+API&method=flickr.groups.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611617", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"groups":{"page":1,"pages":5,"perpage":100,"total":"407","group":[{"nsid":"51035612836@N01","name":"Flickr
        API","eighteenplus":0,"iconserver":"3686","iconfarm":4,"members":"18708","pool_count":"923","topic_count":"4421","privacy":"3"},{"nsid":"13298494@N00","name":"My
        Flickr API Website","eighteenplus":0,"iconserver":"0","iconfarm":0,"members":"16","pool_count":"194","topic_count":"2","privacy":"3"},{"nsid":"607726@N21","name":"Nitens
        Flickr Gadgets","eighteenplus":0,"iconserver":"2162","iconfarm":3,"members":"94","pool_count":"64","topic_count":"16","privacy":"3"},{"nsid":"96035807@N00","name":"Flickr
        Hacks","eighteenplus":0,"iconserver":"7369","iconfarm":8,"members":"21969","pool_count":"517","t[...]
