---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: per_page=10&method=flickr.photos.getRecent&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611630", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":100,"perpage":10,"total":1000,"photo":[{"id":"32611050177","owner":"137343793@N08","secret":"aa6f20b9c0","server":"7811","farm":8,"title":"If
        you have suggestions leave a comment! Check our bio #electricturtles #summer
        #tshirtprinting #trending #printing #clothingline #hoodies #tshirtdesigns
        #cute #tshirtshop #fashing #apparel #shirt #tee #motivation #girltee #outfit
        #customshirt #teeshirts","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40587424753","owner":"83894187@N04","secret":"3da87a6283","server":"7810","farm":8,"title":"Vanguard
        Squadron.","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40587425603","owner":"152925019@N02","secret":"d7606ff7f3","server":"7814","farm":8,"title":"tumblr_ppeusvbalm1xq6siao1_1280.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"40587426243","owner":"147014697@N04","secret":"ff0f84320d","server":"7831","farm":8,"title":"\uc990\uac70\uc6b4\"\uac15\ub0a8\uc624\ud53c\"\ub2ec\[...]
