---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=3839885270&method=flickr.photos.comments.getList&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611629", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"comments":{"photo_id":"3839885270","comment":[{"id":"41630239-3839885270-72157621986549875","author":"41650587@N02","author_is_deleted":0,"authorname":"ruby_flickraw","iconserver":"0","iconfarm":0,"datecreate":"1250959092","permalink":"https:\/\/www.flickr.com\/photos\/41650587@N02\/3839885270\/#comment72157621986549875","path_alias":null,"realname":"Flickraw","_content":"This
        is a cute cat !"}]},"stat":"ok"}'
  recorded_at: Sun, 07 Apr 2019 04:33:50 GMT
recorded_with: VCR 4.0.0
