---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: text=family+vacation&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611613", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":5683,"perpage":100,"total":"568294","photo":[{"id":"47553004111","owner":"15538284@N05","secret":"a0f663d4ec","server":"7880","farm":8,"title":"03.29.2019
        Kiawah","ispublic":1,"isfriend":0,"isfamily":0},{"id":"33676240528","owner":"15538284@N05","secret":"a66c7cee8a","server":"7810","farm":8,"title":"03.29.2019
        Kiawah","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46637428415","owner":"15538284@N05","secret":"f939d3c888","server":"7838","farm":8,"title":"03.29.2019
        Kiawah","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46637414585","owner":"15538284@N05","secret":"392fa58b3d","server":"7882","farm":8,"title":"03.29.2019
        Kiawah","ispublic":1,"isfriend":0,"isfamily":0}[...]
