---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=3839885270&method=flickr.photos.getInfo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611621", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"3839885270","secret":"6fb8b54e06","server":"2485","farm":3,"dateuploaded":"1250773205","isfavorite":0,"license":"4","safety_level":"0","rotation":0,"originalsecret":"b72bd24f3e","originalformat":"jpg","owner":{"nsid":"41650587@N02","username":"ruby_flickraw","realname":"Flickraw","location":"","iconserver":"0","iconfarm":0,"path_alias":null},"title":{"_content":"cat"},"description":{"_content":"This
        is my cat"},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1250773205","taken":"2006-08-15
        18:52:47","takengranularity":"0","takenunknown":0,"lastupdate":"1311270025"},"views":"2781","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":0,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"1"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"41630239-3839885270-1344","author":"41650587@N02","authorname":"ruby_flickraw","raw":"cat","_content":"cat","machine_tag":0},{"id":"41630239-3839885270-359","author":"41650587@N02","authorname":"ruby_flickraw","raw":"pet","_content":"pet","machine_tag":0}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/41650587@N02\/3839885270\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 07 Apr 2019 04:33:42 GMT
recorded_with: VCR 4.0.0
