---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=3839885270&method=flickr.photos.getSizes&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611623", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sizes":{"canblog":0,"canprint":0,"candownload":1,"size":[{"label":"Square","width":75,"height":75,"source":"https:\/\/live.staticflickr.com\/2485\/3839885270_6fb8b54e06_s.jpg","url":"https:\/\/www.flickr.com\/photos\/41650587@N02\/3839885270\/sizes\/sq\/","media":"photo"},{"label":"Large
        Square","width":"150","height":"150","source":"https:\/\/live.staticflickr.com\/2485\/3839885270_6fb8b54e06_q.jpg","url":"https:\/\/www.flickr.com\/photos\/41650587@N02\/3839885270\/sizes\/q\/","media":"photo"},{"label":"Thumbnail","width":"100","height":"75","source":"https:\/\/live.staticflickr.com\/2485\/3839885270_6fb8b54e06_t.jpg","url":"https:\/\/www.flickr.com\/photos\/41650587@N02\/3839885270\/sizes\/t\/","media":"photo"},{"label":"Small","width":"240","h[...]
