---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: photo_id=3839885270&method=flickr.photos.getExif&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611612", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"3839885270","secret":"6fb8b54e06","server":"2485","farm":3,"camera":"Canon
        Digital IXUS 55","exif":[{"tagspace":"IFD0","tagspaceid":0,"tag":"Compression","label":"Compression","raw":{"_content":"JPEG
        (old-style)"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"Make","label":"Make","raw":{"_content":"Canon"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"Model","label":"Model","raw":{"_content":"Canon
        DIGITAL IXUS 55"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"Orientation","label":"Orientation","raw":{"_content":"Horizontal
        (normal)"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"XResolution","label":"X-Resolution","raw":{"_content":"180"},"clean":{"_content":"180
        dpi"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"YResolution","label":"Y-Resolution","raw":{"_content":"180"},"clean":{"_content":"180
        dpi"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"ResolutionUnit","label":"Resolution
        Unit","raw":{"_content":"inches"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"ModifyDate","label":"Date
        and Time (Modified)","raw":{"_content":"2006:08:15 18:52:47"}},{"tagspace":"IFD0","tagspaceid":0,"tag":"YCbCrPositioning","label":"[...]
