---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: user_id=41650587%40N02&method=flickr.tags.getListUser&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611616", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"who":{"id":"41650587@N02","tags":{"tag":[{"_content":"cat"},{"_content":"pet"}]}},"stat":"ok"}'
  recorded_at: Sun, 07 Apr 2019 04:33:37 GMT
recorded_with: VCR 4.0.0
