---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: utf8_text=H%C3%A9l%C3%A8ne+Fran%C3%A7ois%2C+%E2%82%ACuro&method=flickr.test.echo&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611614", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"utf8_text":{"_content":"H\u00e9l\u00e8ne Fran\u00e7ois, \u20acuro"},"method":{"_content":"flickr.test.echo"},"format":{"_content":"json"},"nojsoncallback":{"_content":"1"},"oauth_consumer_key":{"_content":"00000000000000000000000000000000"},"oauth_nonce":{"_content":"000="},"oauth_signature":{"_content":"0000000000000000&"},"oauth_signature_method":{"_content":"PLAINTEXT"},"oauth_timestamp":{"_content":"1554611614"},"oauth_token":{"_content":""},"oauth_version":{"_content":"1.0"},"api_auth_is_oauth":{"_content":"1"},"api_key":{"_content":"00000000000000000000000000000000"},"api_sig":{"_content":"0000000000000000&"},"auth_token":{"_content":""},"stat":"ok"}'
  recorded_at: Sun, 07 Apr 2019 04:33:35 GMT
recorded_with: VCR 4.0.0
