---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: group_id=51035612836%40N01&method=flickr.urls.getGroup&format=json&nojsoncallback=1
    headers:
      Authorization:
      - OAuth realm="https://api.flickr.com/services/rest/", oauth_consumer_key="00000000000000000000000000000000",
        oauth_signature="0000000000000000%26", oauth_signature_method="PLAINTEXT", oauth_timestamp="1554611610", oauth_token="",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"group":{"nsid":"51035612836@N01","url":"https:\/\/www.flickr.com\/groups\/api\/"},"stat":"ok"}'
  recorded_at: Sun, 07 Apr 2019 04:33:31 GMT
recorded_with: VCR 4.0.0
